.settings {
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: 20px;
  gap: 24px;
  max-width: 2028px;
  min-height: 700px;
  
  background: #FFFFFF;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.settings-container {
  width: 100%;
  height: auto;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settings-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.settings-header-title {
  font-size: 32px;
  font-weight: 800;
  color: #374151;
  font-family: var(--font-family); 
}

/* Body */

.settings-body-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-body-section-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settings-body-title {
  font-size: 22px;
  font-weight: 600;
  color: #374151;
  font-family: var(--font-family); 
}

.settings-body-subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #374151;
  font-family: var(--font-family); 
}

.settings-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 200px;
}

.settings-body-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-body-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.settings-body-text-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-body-text {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  font-family: var(--font-family);
}

.settings-body-subtext {
  font-size: 12px;
  font-weight: 300;
  color: #374151;
  font-family: var(--font-family);
}

.settings-on-img {
  width: 30px;
  height: 30px;
  filter: invert(55%) sepia(67%) saturate(575%) hue-rotate(100deg) brightness(93%) contrast(90%);
}

.settings-off-img {
  width: 30px;
  height: 30px;
  filter: invert(27%) sepia(91%) saturate(7477%) hue-rotate(355deg) brightness(104%) contrast(93%);
}