.patients {
  display: flex;
  flex-direction: column;
  height: 250vh;
  background: transparent;
}

.patient {
  padding: 32px;
  min-width: 1600px;
  width: 98%;
  min-height: calc(95vh - 96px);
  background: var(--bg-accent);
  border: 1px solid #E5E7EB;
  padding: 30px;
  margin-top: 20px;
  border-radius: 25px;
  align-self: center;
}

/*  */

.detail-header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.card-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.back-btn {
  background: transparent;
}