
.patients {
  display: flex;
  flex-direction: column;
  height: 120vh;
  background: transparent;  /* ✅ White background for the whole container */
}

.patient-form {
  padding: 32px;
  min-width: 1600px;
  width: 98%;
  min-height: calc(95vh - 96px);
  background: var(--bg-accent);
  border: 1px solid #E5E7EB;
  padding: 30px;
  margin-top: 20px;
  border-radius: 25px;
  align-self: center;
}

.form-title, .form-label, .form-select {
  color: #000000;
}

.form-select {
  padding: 15px;
  border-radius: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}